.button.pa-btn {
    border: none;
    color: #fff;
    text-align: center;
    padding: 3px;
    max-width: 250px;
    height: auto;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.button.pa-btn:hover,
.button.pa-btn:focus,
.button.pa-btn:active {
    outline: none;
    border: none;
    text-decoration: none;
}
.pa-btn.pa-save-button {
    font-family: "Red Hat Display";
    font-size: 15px;
    width: 147px;
    height: 43px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* -webkit-filter: drop-shadow(0px 10px 35px rgba(0, 165, 229, 0.3));
	filter: drop-shadow(0px 10px 35px rgba(0, 165, 229, 0.3)); */
    background-color: #00a5e5;
    margin-top: 50px;
}
.pa-btn.pa-save-button:hover,
.pa-btn.pa-save-button:focus,
.pa-btn.pa-save-button:active {
    background: #00a5e5;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.switch input {
    display: none;
}
.slider,
.pro-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #f2f2f2;
	box-shadow: 0 0 2px 1px #ccc inset; */
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:before,
.pro-slider:before {
    position: absolute;
    content: "";
    left: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background: radial-gradient(farthest-corner at 14px 0px, #f0f0f0 50%, #cacaca 100%); */
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-filter: drop-shadow(0px 5px 2.5px rgba(40, 40, 40, 0.35));
    filter: drop-shadow(0px 5px 2.5px rgba(40, 40, 40, 0.35));
    background-color: #f7f7f7;
    border: 1px solid #ffffff;
    /* box-shadow: 0 2.5px 5px #b8b8b9; */
}
input:checked + .slider {
    background: #8dc900;
}
input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #18a4fd;
    box-shadow: 0 0 1px #18a4fd;
}
input:checked + .slider:before {
    -webkit-transform: translate3d(20px, -50%, 0);
    transform: translate3d(20px, -50%, 0);
}
.slider.round,
.pro-slider.round {
    -webkit-border-radius: 34px;
    border-radius: 34px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#dbdbdb));
    background-image: -webkit-linear-gradient(top, #cfcfcf 0%, #dbdbdb 100%);
    background-image: linear-gradient(180deg, #cfcfcf 0%, #dbdbdb 100%);
}
.slider.round:before,
.pro-slider.round:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pa-switcher input:disabled + .pro-slider::after {
    position: absolute;
    content: "\e912";
    font-family: "pa-dash";
    color: #474747;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pa-api-disable-title label,
.pa-is-beta label {
    margin-right: 15px;
}
.pa-api-disable-title span,
.pa-is-beta span {
    font-weight: 400;
}
.pa-maps-api-notice {
    margin: 0.5em 0;
}
.pa-api-title input {
    margin-top: 10px;
    font-size: normal;
    font-weight: 400;
    width: 400px;
    margin-left: 30px;
}

.pa-sys-info-tab {
    background: #f7f7f7;
    margin: 8px;
    border: 2px solid #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0;
}
.pa-system-info-container {
    padding: 10px;
}

.dialog-type-lightbox .dialog-widget-header {
    text-align: center;
    font-size: 15px;
    color: #495157;
    padding: 30px 0 10px;
    font-weight: 500;
}

.pa-swal.swal2-show {
    padding: 32px;
    padding-bottom: 50px;
    background-image: url("../../images/popup-pattern.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 50px 0;
    border-radius: 50px 0;
}

.pa-swal .swal2-close {
    color: #c2c4cf;
}
.pa-swal .swal2-close:hover {
    color: #00a5e5;
}
.pa-swal .swal2-title {
    margin: 0;
}
.pa-swal .swal2-content {
    font-size: 13px;
    color: #474747;
    font-family: "Poppins";
    text-align: center;
    margin: 0;
    margin-bottom: 0px;
}
.pa-swal .swal2-cancel.swal2-styled,
.pa-swal .swal2-cancel.swal2-styled:hover,
.pa-swal .swal2-confirm.swal2-styled {
    background-image: none !important;
    background-color: #ebebeb;
    color: #474747;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-family: "Red Hat Display";
    font-size: 15px;
    font-weight: 700;
}
.pa-swal .swal2-confirm.swal2-styled,
.pa-swal .swal2-confirm.swal2-styled:hover {
    min-width: 128px;
    color: #fff;
    background-image: none !important;
    background-color: #00a5e5;
}

/**
* New Dashboard
*/
.pa-settings-wrap {
    padding: 35px;
    padding-left: 15px;
}
.pa-settings-section {
    display: none;
}

.pa-settings-tabs {
    background-color: #fff;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 36px;
    margin-bottom: 12px;
}

.pa-settings-tabs-list {
    clear: left;
    margin: 0;
    list-style-type: none;
}

.pa-settings-tabs .pa-settings-tabs-list li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 23px;
}

.pa-settings-section.active {
    display: block;
}

.papro-admin-notice a,
.pa-settings-wrap .pa-settings-tabs a {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.8em;
    position: relative;
    color: #252c59;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.papro-admin-notice a.papro-notice-btn {
    width: 120px;
    /* height: 58px; */
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-filter: drop-shadow(0px 5px 50px rgba(87, 0, 101, 0.7));
    filter: drop-shadow(0px 5px 50px rgba(87, 0, 101, 0.7));
    background-color: #ffffff;
    font-size: 18px;
    color: #fe6300;
    font-weight: 800;
    font-family: "Red Hat Display";
    text-align: center;
    padding: 10px 20px;
}

.pa-settings-wrap .pa-settings-tabs a:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pa-settings-wrap .pa-settings-tabs span {
    margin-left: 8px;
    font-family: "Poppins";
    font-weight: 500;
}

.pa-settings-wrap .pa-settings-tabs .pa-section-active {
    color: #00a5e5;
}

.pa-section {
    display: none;
    position: relative;
    background-color: #fff;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    padding: 36px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

/**
* General Tab
*/
#pa-general-settings {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
#pa-general-settings .col-half:first-of-type {
    margin-right: 16px;
}
#pa-general-settings .pa-section-info i {
    vertical-align: bottom;
}

/**
* Tab Info
*/
.pa-section-info-wrap {
    padding: 36px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f7f7;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#pa-ver-control-settings .pa-section-info-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#pa-features-settings .pa-section-info-wrap:nth-of-type(n + 2),
#pa-ver-control-settings .pa-section-info-wrap:nth-of-type(n + 2) {
    margin-top: 36px;
}
.pa-section-info-wrap h4 {
    font-size: 20px;
    color: #252c59;
    font-weight: 900;
    font-family: "Red Hat Display";
    margin: 0;
}
.pa-section-info-wrap p {
    font-size: 15px;
    color: #474747;
    font-family: "Poppins";
    margin: 0;
    margin-top: 14px;
}
.pa-section-info-cta {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px;
}
.pa-section-info-cta .pa-btn {
    color: #474747;
    background-color: #ebebeb;
    padding: 8px 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Red Hat Display";
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pa-section-info-cta .pa-btn:hover,
.pa-section-info-cta .pa-btn:focus,
.pa-section-info-cta .pa-btn:active {
    color: #fff;
    background-color: #00a5e5;
}

.pa-section-info-cta .pa-section-info-label {
    font-size: 13px;
    color: #474747;
    font-family: "Poppins";
    text-align: right;
}

.pa-section-info-cta .pa-section-info-warning {
    font-size: 13px;
    color: #cca329;
    font-weight: 300;
    font-family: "Poppins";
    margin-left: 20px;
}

.pa-section-info-cta .pa-section-info-warning i {
    font-weight: 300;
    vertical-align: bottom;
}

.pa-btn-group .pa-btn {
    font-family: "Red Hat Display";
    color: #8e8e8e;
    background-color: #ebebeb;
    border: 0px solid;
    padding: 16px 28px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    display: block;
}
.pa-btn-group button.pa-btn-enable {
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
}
.pa-btn-group button.pa-btn-disable {
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
}

.pa-btn-group .pa-btn-enable.active {
    color: #fff;
    -webkit-box-shadow: inset 3.5px 1.8px 7px 0px rgba(125, 125, 125, 0.5);
    box-shadow: inset 3.5px 1.8px 7px 0px rgba(125, 125, 125, 0.5);
    background-color: #8dc900;
}
.pa-btn-group .pa-btn-disable.active {
    color: #fff;
    -webkit-box-shadow: inset 3.564px 1.816px 7px 0px rgba(81, 81, 81, 0.5);
    box-shadow: inset 3.564px 1.816px 7px 0px rgba(81, 81, 81, 0.5);
    background-color: #898989;
}
.pa-btn-group .pa-btn-enable:not(.active):hover {
    color: #ffffff;
    background-color: #8dc900;
}
.pa-btn-group .pa-btn-disable:not(.active):hover {
    color: #ffffff;
    background-color: #898989;
}

/*
* Widgets & Addons Tab
*/
.pa-elements-settings {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
}
.pa-elements-filter {
    position: absolute;
    top: 10px;
    right: 16px;
}
.pa-elements-filter label {
    font-size: 13px;
    color: #474747;
    font-family: "Poppins";
    margin-right: 10px;
}
.pa-elements-filter select {
    padding: 5px 35px 5px 15px;
}
.pa-elements-tabs {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 20px;
    margin-right: 16px;
}
.pa-elements-tabs .pa-elements-tab {
    position: relative;
    padding: 0;
    margin-bottom: 12px;
    text-align: center;
}
.pa-elements-tab .pa-element-tab-tooltip {
    position: absolute;
    background-color: #3a3c40;
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    padding: 10px 20px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    -webkit-filter: drop-shadow(0px 5px 27.5px rgba(104, 104, 104, 0.3));
    filter: drop-shadow(0px 5px 27.5px rgba(104, 104, 104, 0.3));
    background-color: #ffffff;
    font-size: 11px;
    color: #252c59;
    font-weight: 500;
    font-family: "Poppins";
    opacity: 0;
    pointer-events: none;
    text-transform: capitalize;
    -webkit-transform: translate(30px, -50%);
    -ms-transform: translate(30px, -50%);
    transform: translate(30px, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    white-space: nowrap;
}
.pa-elements-tab .pa-element-tab-tooltip::before {
    display: block;
    position: absolute;
    top: 50%;
    left: -5px;
    width: 0;
    height: 0;
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #ffffff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pa-elements-tab .pa-elements-tab-link {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #c2c4cf;
    padding: 12px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}

.pa-elements-tab .pa-elements-tab-link:hover,
.pa-elements-tab .pa-elements-tab-link.active {
    -webkit-filter: drop-shadow(-4.243px -4.243px 3px rgba(255, 255, 255, 0.5))
        drop-shadow(4.243px 4.243px 3px rgba(191, 201, 210, 0.6));
    filter: drop-shadow(-4.243px -4.243px 3px rgba(255, 255, 255, 0.5))
        drop-shadow(4.243px 4.243px 3px rgba(191, 201, 210, 0.6));
    background-color: #ffffff;
    color: #00a5e5;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pa-elements-tab .pa-elements-tab-link:hover + span {
    opacity: 1;
    -webkit-transform: translate(20px, -50%);
    -ms-transform: translate(20px, -50%);
    transform: translate(20px, -50%);
}

.pa-switchers {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.pa-switchers-container {
    width: 100%;
}
.pa-switchers-container.hidden,
.pa-switcher.hidden {
    display: none;
}
.pa-switchers-container .pa-elements-tab-title {
    font-size: 20px;
    color: #252c59;
    font-weight: 900;
    font-family: "Red Hat Display";
    margin: 16px 0;
}
.pa-switcher {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f7f7;
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-calc(50% - 56px);
    width: calc(50% - 56px);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    margin-top: 16px;
    margin-right: 16px;
}

.pa-element-info {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pa-element-info .pa-element-icon {
    color: #252c59;
    background-color: #ebebeb;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    /* padding: 12px; */
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pa-element-name {
    font-size: 16px;
    color: #252c59;
    font-weight: 700;
    font-family: "Red Hat Display";
    margin: 0;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.pa-element-name span {
    text-transform: uppercase;
    color: #fd9926;
    font-weight: 700;
    font-size: 11px;
    margin-left: 5px;
}

.pa-element-link {
    font-size: 13px;
    color: #252c59;
    font-family: "Poppins";
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.pa-element-link-separator {
    width: 3px;
    height: 3px;
    display: inline-block;
    text-align: center;
    color: #252c59;
    background: #252c59;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 3px;
}

.pa-element-link:hover,
.pa-element-link:focus {
    color: #00a5e5;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

/*
* Integrations
*/
.pa-maps-table select {
    width: 100%;
    max-width: 100%;
    padding: 8px;
}
.pa-maps-table #hip-map-api {
    width: 100%;
}
.pa-maps-table tr td {
    padding-top: 30px;
}
.pa-maps-table tr td:first-of-type {
    padding-right: 30px;
}
.pa-maps-table td h4 {
    margin: 0;
    font-size: 15px;
    color: #252c59;
    font-weight: 500;
    font-family: "Poppins";
    display: inline-block;
}
.pa-maps-table td span {
    font-size: 13px;
    color: #474747;
    font-family: "Poppins";
    vertical-align: middle;
}
.pa-maps-table td input[type="text"] {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ebebeb;
    border: none;
    padding: 8px 20px;
}
.pa-section input[type="checkbox"] {
    border: none;
    display: none;
}

.pa-section input[type="checkbox"] + label {
    position: relative;
    background: #ebebeb;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding: 0;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.pa-section input[type="checkbox"]:checked + label {
    background: #00a5e5;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding: 0;
}
.pa-section input[type="checkbox"]:checked + label:before {
    position: absolute;
    content: "✔";
    color: #fff;
    font-size: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -1px;
}
.pa-maps-table td input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
.pa-elements-filter select,
.pa-maps-table td select {
    border-color: #dcdcdc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pa-maps-circle-icon {
    width: 5px;
    height: 5px;
    background-color: #252c59;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.pa-maps-table td h4:before {
    position: absolute;
    content: "";
}

/*
* White Labeling Tab
*/
.pa-wht-lbl-settings .pa-wht-lbl-title {
    font-size: 20px;
    color: #252c59;
    font-weight: 900;
    font-family: "Red Hat Display";
    margin: 0;
}

.pa-wht-lbl-settings .pa-row {
    width: 60%;
    float: left;
}

.pa-wht-lbl-settings .pa-wht-lbl-admin {
    width: 30%;
    float: left;
    margin-left: 16px;
}

.pa-wht-lbl-settings .pa-wht-lbl-head {
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    padding: 20px;
}

.pa-wht-lbl-table {
    text-align: left;
}

.pa-wht-lbl-settings input {
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* background-color: #ebebeb; */
    border: 1px solid #dcdcdc;
    padding: 8px 20px;
}

/* .pa-wht-lbl-settings input + span {
	margin-left: 0.3em;
} */

.pa-wht-lbl-settings label + span {
    font-family: "Poppins";
    vertical-align: middle;
}
.pa-wht-lbl-settings .pa-input-label {
    display: block;
    font-weight: 600;
    margin: 10px 0 6px;
    font-size: 14px;
    color: #252c59;
    font-family: "Red Hat Display";
}

.pa-wht-lbl-settings input[type="text"] {
    width: 550px;
}

.pa-wht-lbl-settings input[type="text"]::-webkit-input-placeholder {
    font-weight: 300;
    font-family: "Poppins";
}

.pa-wht-lbl-settings input[type="text"]:-moz-placeholder {
    font-weight: 300;
    font-family: "Poppins";
}

.pa-wht-lbl-settings input[type="text"]::-moz-placeholder {
    font-weight: 300;
    font-family: "Poppins";
}

.pa-wht-lbl-settings input[type="text"]:-ms-input-placeholder {
    font-weight: 300;
    font-family: "Poppins";
}

.pa-wht-lbl-settings input[type="text"]::-ms-input-placeholder {
    font-weight: 300;
    font-family: "Poppins";
}

.pa-wht-lbl-settings input[type="text"]::placeholder {
    font-weight: 300;
    font-family: "Poppins";
}

.pa-wht-lbl-settings .pa-wht-lbl-settings-wrap {
    background: #fff;
    margin: 16px auto;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.pa-wht-lbl-settings .clearfix {
    clear: both;
}

.pa-wht-lbl-group-wrap {
    padding: 20px;
}

.pa-wht-lbl-save .pa-save-button {
    margin-top: 0;
}

.pa-section-white-label .pa-white-label-notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.8);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pa-white-label-notice-content {
    position: absolute;
    top: 200px;
    left: 200;
    width: 530px;
    background-image: url("../../images/popup-pattern.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 32px;
    padding-bottom: 50px;
    -webkit-border-radius: 50px 0px;
    border-radius: 50px 0px;
    text-align: center;
    z-index: 2;
}
.pa-white-label-notice-logo {
    -webkit-transform: translateY(-32px);
    -ms-transform: translateY(-32px);
    transform: translateY(-32px);
    margin-bottom: -18px;
}
.pa-white-label-notice-logo img {
    padding: 10px;
    padding-top: 40px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
.pa-white-label-notice-content h2,
.pa-swal-head {
    display: inline-block;
    font-size: 23px;
    color: #252c59;
    font-weight: 900;
    font-family: "Red Hat Display";
    text-align: center;
    max-width: 350px;
    line-height: 1;
    margin: 0;
    margin-bottom: 18px;
}
.pa-white-label-notice-content h2 span {
    color: #fd9926;
    text-transform: uppercase;
    font-family: "Red Hat Display";
}
.pa-white-label-notice-content p {
    font-size: 13px;
    color: #474747;
    font-family: "Poppins";
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
}

.pa-white-label-notice-content a.pa-get-pro {
    display: inline-block;
    width: 117px;
    padding: 12px 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
    font-family: "Red Hat Display";
    -webkit-filter: drop-shadow(0px 20px 17.5px rgba(254, 99, 0, 0.2));
    filter: drop-shadow(0px 20px 17.5px rgba(254, 99, 0, 0.2));
    text-decoration: none;
    outline: none;
    border: none;
    background-image: -webkit-linear-gradient(120deg, #fe6300 0%, #fe9f00 100%);
    background-image: linear-gradient(-30deg, #fe6300 0%, #fe9f00 100%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pa-white-label-notice-content a.pa-get-pro:hover {
    background-image: -webkit-linear-gradient(60deg, #fe6300 0%, #fe9f00 100%);
    background-image: linear-gradient(30deg, #fe6300 0%, #fe9f00 100%);
}

/*
* System Info Tab
*/
.pa-section-info table.widefat {
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Poppins";
}
.pa-section-info .widefat td:first-child {
    width: 30%;
}
.pa-section-info table.widefat tr:nth-child(2n) {
    background-color: #f7f7f7;
}

/*
* License Tab
*/
.pa-license-form span {
    color: #474747;
    font-family: "Poppins";
}

.pa-license-form label {
    display: block;
    font-weight: 500;
    margin: 2em 0 0.5em;
}

.pa-license-form code {
    padding: 3px 5px 2px;
    margin: 0 1px;
    background: #eaeaea;
    background: rgba(0, 0, 0, 0.07);
    font-size: 13px;
    font-style: italic;
}

.pa-license-form .button.button-primary {
    width: 147px;
    height: 43px;
    /* -webkit-filter: drop-shadow(0px 10px 35px rgba(0, 165, 229, 0.3));
	filter: drop-shadow(0px 10px 35px rgba(0, 165, 229, 0.3)); */
    background-color: #00a5e5;
    /* margin-top: 50px; */
    margin-left: -3px;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    border: none;
}

#papro-license-key:focus,
.pa-license-form .button.button-primary:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#papro-license-key {
    height: 43px;
    line-height: 1;
    margin: 0;
    padding: 8px 20px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.pa-license-form input + span {
    margin-left: 10px;
    font-weight: 600;
}

.pa-license-cell span {
    margin-left: 0.3em;
}

/*
* PAPRO Notice
*/
.papro-admin-notice {
    -webkit-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 24px;
}
.papro-admin-notice > div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.papro-admin-notice-left {
    position: relative;
    padding: 16px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}
.papro-admin-notice-left a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.papro-admin-notice-left a:hover,
.papro-admin-notice-left a:focus,
.papro-admin-notice-left a:visited {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}
/* .papro-admin-notice-logo img {
	width: 100%;
} */
.papro-admin-notice-right {
    -webkit-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    background: url("../../images/papro-banner.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 18px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 25px;
}

.papro-admin-notice-right h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    font-family: "Red Hat Display";
    margin: 0;
    margin-bottom: 8px;
}
.papro-admin-notice-right p {
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins";
    margin: 0;
}
.papro-admin-notice-right span {
    font-weight: 700;
}

/*
* Dashboard Tabs
*/
.pa-dash-general:before {
    content: "\e900";
}
.pa-dash-integrations:before {
    content: "\e901";
}
.pa-dash-system-info:before {
    content: "\e902";
}
.pa-dash-vcontrol:before {
    content: "\e903";
}
.pa-dash-white-label:before {
    content: "\e904";
}
.pa-dash-elements:before {
    content: "\e905";
}
.pa-dash-license:before {
    content: "\e910";
}
.pa-dash-features:before {
    content: "\e911";
}
/*
* Elements Categories
*/
.pa-dash-cat-all:before {
    content: "\e906";
}
.pa-dash-cat-blurbs:before {
    content: "\e907";
}
.pa-dash-cat-contact:before {
    content: "\e908";
}
.pa-dash-cat-content:before {
    content: "\e909";
}
.pa-dash-cat-images:before {
    content: "\e90a";
}
.pa-dash-cat-off-grid:before {
    content: "\e90b";
}
.pa-dash-cat-section:before {
    content: "\e90c";
}
.pa-dash-cat-feed:before {
    content: "\e90d";
}
.pa-dash-cat-data:before {
    content: "\e90e";
}
.pa-dash-cat-social:before {
    content: "\e90f";
}
/*
* Widgets Icons
*/
.pa-dash-premium-notbar:before {
    content: "\e913";
}
.pa-dash-premium-gradient:before {
    content: "\e914";
}
.pa-dash-premium-color-transition:before {
    content: "\e915";
}
.pa-dash-premium-behance:before {
    content: "\e916";
}
.pa-dash-premium-charts:before {
    content: "\e917";
}
.pa-dash-premium-content-toggle:before {
    content: "\e918";
}
.pa-dash-premium-divider:before {
    content: "\e919";
}
.pa-dash-premium-facebook-feed:before {
    content: "\e91b";
}
.pa-dash-facebook-feed-2:before {
    content: "\e91b";
}
.pa-dash-premium-fb-chat:before {
    content: "\e91c";
}
.pa-dash-premium-facebook-reviews:before {
    content: "\e91d";
}
.pa-dash-premium-google-reviews:before {
    content: "\e91e";
}
.pa-dash-premium-hscroll:before {
    content: "\e91f";
}
.pa-dash-premium-flipbox:before {
    content: "\e920";
}
.pa-dash-premium-iconbox:before {
    content: "\e921";
}
.pa-dash-premium-image-accordion:before {
    content: "\e922";
}
.pa-dash-premium-image-comparison:before {
    content: "\e923";
}
.pa-dash-premium-image-hotspots:before {
    content: "\e924";
}
.pa-dash-premium-img-layers:before {
    content: "\e925";
}
.pa-dash-premium-instagram-feed:before {
    content: "\e926";
}
.pa-dash-premium-kenburns:before {
    content: "\e927";
}
.pa-dash-premium-lottie:before {
    content: "\e928";
}
.pa-dash-premium-magic-section:before {
    content: "\e929";
}
.pa-dash-premium-multi-scroll:before {
    content: "\e92a";
}
.pa-dash-premium-ihover:before {
    content: "\e92b";
}
.pa-dash-premium-parallax:before {
    content: "\e94f";
}
.pa-dash-premium-particles:before {
    content: "\e92c";
}
.pa-dash-premium-prev-img:before {
    content: "\e92d";
}
.pa-dash-premium-tabs:before {
    content: "\e92f";
}
.pa-dash-premium-tables:before {
    content: "\e92e";
}
.pa-dash-premium-twitter-feed:before {
    content: "\e931";
}
.pa-dash-premium-unfold:before {
    content: "\e932";
}
.pa-dash-premium-whatsapp-chat:before {
    content: "\e933";
}
.pa-dash-premium-yelp-reviews:before {
    content: "\e934";
}
.pa-dash-premium-trustpilot-reviews:before {
    content: "\e930";
}
.pa-dash-premium-banner:before {
    content: "\e935";
}
.pa-dash-premium-blog:before {
    content: "\e936";
}
.pa-dash-premium-button:before {
    content: "\e937";
}
.pa-dash-premium-carousel:before {
    content: "\e938";
}
.pa-dash-premium-contactform:before {
    content: "\e939";
}
.pa-dash-premium-countdown:before {
    content: "\e93a";
}
.pa-dash-premium-counter:before {
    content: "\e93b";
}
.pa-dash-premium-dual-header:before {
    content: "\e93c";
}
.pa-dash-premium-fancytext:before {
    content: "\e93d";
}
.pa-dash-premium-maps:before {
    content: "\e93e";
}
.pa-dash-premium-title:before {
    content: "\e93f";
}
.pa-dash-premium-icon-list:before {
    content: "\e940";
}
.pa-dash-premium-image-button:before {
    content: "\e941";
}
.pa-dash-premium-image-scroll:before {
    content: "\e942";
}
.pa-dash-premium-image-separator:before {
    content: "\e943";
}
/* .pa-dash-premium-lottie:before {
    content: "\e944";
} */
.pa-dash-premium-lottie-widget:before {
    content: "\e945";
}
.pa-dash-premium-grid:before {
    content: "\e946";
}
.pa-dash-premium-modalbox:before {
    content: "\e947";
}
.pa-dash-premium-pricing-table:before {
    content: "\e948";
}
.pa-dash-premium-progressbar:before {
    content: "\e949";
}
.pa-dash-premium-person:before {
    content: "\e94a";
}
.pa-dash-premium-testimonials:before {
    content: "\e94b";
}
.pa-dash-premium-vscroll:before {
    content: "\e94c";
}
.pa-dash-premium-videobox:before {
    content: "\e94d";
}
