.hip-nav-menu ul.menu,
.hip-nav-menu ul.menu li ul.sub-menu {
    padding: 0;
    list-style: none;
}
.hip-nav-menu ul.menu {
    height: 100vh;
    overflow-y: auto;
}
.hip-nav-wrapper ul{
    padding:0;
    margin:0;
}
.hip-nav-menu ul.menu li {
    cursor: pointer;
}
.hip-nav-menu ul.menu li a {
    display: block;
    padding: 8px 0;
    width: 100%;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}
.hip-navigation-menu-wrapper,
.hip-navigation-menu-wrapper ul.menu,
.hip-navigation-menu-wrapper ul.menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.hip-navigation-menu-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    grid-area: nav-menu;
}
/*.hip-navigation-menu-wrapper .hip-nav-humberger-wrapper,*/
.hip-navigation-menu-wrapper .hip-nav-humberger-wrapper .hip-menu-close-icon {
    display: none;
}
.hip-navigation-menu-wrapper ul.menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.hip-navigation-menu-wrapper ul.menu li {
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 0;
}
.hip-navigation-menu-wrapper ul.menu li.menu-item-has-children:hover,
.hip-navigation-menu-wrapper ul.menu li:hover {
    color: #e2498a;
}
.hip-navigation-menu-wrapper ul.menu li ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999999;
    min-width: 150px;
    background: #fff;
}
.hip-navigation-menu-wrapper ul.menu li ul.sub-menu li .hip-submenu-indicator-wrap {
    z-index: 999;
    display: inline-block;
    margin-left: 10px;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.hip-navigation-menu-wrapper ul.menu li ul.sub-menu li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 150px;
    list-style-type: none;
}
.hip-navigation-menu-wrapper ul.menu li.menu-item-has-children a {
    margin-right: 7px;
}
.hip-navigation-menu-wrapper ul.menu li.menu-item-has-children .hip-submenu-indicator-wrap {
    display: inline-block;
    margin: auto 0;
    padding-left: 5px;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.hip-navigation-menu-wrapper ul.menu li.menu-item-has-children > ul.sub-menu {
    display: none;
    width: 220px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1019607843);
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1019607843);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.hip-navigation-menu-wrapper ul.menu li.menu-item-has-children:hover > .sub-menu {
    display: block;
    opacity: 1;
}
.hip-navigation-menu-wrapper ul.sub-menu > li > a span.menu-item-title {
    display: inline-block;
}
.hip-navigation-burger-menu .hide-icon,
.hip-navigation-burger-menu .show-icon.hide-icon{
    display: none!important;
}

@media screen and (max-width: 1024px) {
    .hip-navigation-menu {
        position: static;
    }
    .hip-navigation-burger-menu {
        background-color: transparent;
    }
    .hip-navigation-burger-menu .hip-nav-wrapper {
        opacity:0;
        visibility: hidden;
        position: absolute;
        right: 0;
        z-index: 99999;
        margin-right: 0;
        margin-left: 0;
        width: 0;
        height:0;
        background: #fff;
        text-align: left;
    }
    .hip-navigation-burger-menu .hip-nav-wrapper,
    .hip-navigation-burger-menu ul.menu li.menu-item-has-children ul.sub-menu{
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.26s ease;
    transition: -webkit-transform 0.26s ease;
    -o-transition: transform 0.26s ease;
    transition: transform 0.26s ease;
    transition: transform 0.26s ease, -webkit-transform 0.26s ease;
}
    .hip-navigation-burger-menu .hip-nav-wrapper.active{
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        opacity:1;
        visibility:visible!important;
        height: auto;
        width: 100vw!important;
    }
    .hip-navigation-burger-menu ul.menu li.menu-item-has-children ul.sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9999;
        visibility: hidden;
        opacity: 0;
    }
    .hip-navigation-burger-menu ul.menu li.menu-item-has-children ul.sub-menu.show{
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        position: relative;
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .hip-navigation-burger-menu ul.menu li.menu-item {
        margin-top: 0;
        margin-right: 0 !important;
        margin-bottom: 0;
        padding-right: 0 !important;
    }
    .hip-navigation-burger-menu ul.menu li.menu-item-has-children > .hip-nav-item-container > a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        width:100%;
    }

    .hip-navigation-burger-menu .hip-nav-humberger-wrapper,
    .hip-navigation-burger-menu ul.menu li.menu-item-has-children .hip-submenu-indicator-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .hip-navigation-burger-menu ul.menu li.menu-item-has-children .hip-submenu-indicator-wrap {
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        transition:all 0.5s ease-in;
    }
    .hip-navigation-burger-menu ul.menu li.menu-item-has-children > .hip-nav-item-container.highlighted .hip-submenu-indicator-wrap:before{
        content: "\f106";
    }
    .hip-navigation-burger-menu .hip-nav-humberger-wrapper {
        width: 100%;
    }
    .hip-navigation-burger-menu .hip-nav-humberger-wrapper .hip-menu-close-icon,
    .hip-navigation-burger-menu .hip-nav-humberger-wrapper .hip-menu-open-icon {
        z-index: 999;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #7a7a7a;
        font-weight: 400;
        font-size: 22px;
        cursor: pointer;
    }

    .hip-navigation-burger-menu .show-icon {
        display: inline-block!important;
    }

}
