.hip-nav-wrapper ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hip-nav-wrapper{
    left:0;
    height:0;
    position:fixed;
    z-index: 9999;
    opacity:0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.26s ease;
    transition: -webkit-transform 0.26s ease;
    -o-transition: transform 0.26s ease;
    transition: transform 0.26s ease;
    transition: transform 0.26s ease, -webkit-transform 0.26s ease;
}
.hip-nav-wrapper.active{
    width:100vw!important;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity:1;
    visibility:visible!important;
    height: auto;
    padding-bottom:300px;
}
.hip-nav-wrapper.active .hip-menu-inner{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}
body.hip-menu-open{
    overflow:hidden;
}
/*toggle bar css
*/
.hip-navigation-burger-menu .hip-nav-humberger-wrapper{
    display:flex;
}
.hip-navigation-burger-menu ul.menu li.menu-item-has-children a span.menu-item-title{
    flex-basis:75%;
}
span.menu-item-title{

}
.hip-navigation-burger-menu ul.menu li.menu-item-has-children a .hip-submenu-indicator-wrap{
    text-align:right;
    flex-basis:25%;
}

    /*sub menu css
    */
.hip-navigation-burger-menu ul.menu li ul.hip-sub-menu{
    display:none;
    height:0;
    opacity:0;
    webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.26s ease;
    transition: -webkit-transform 0.26s ease;
    -o-transition: transform 0.26s ease;
    transition: transform 0.26s ease;
    transition: transform 0.26s ease, -webkit-transform 0.26s ease;
}
.hip-navigation-burger-menu ul.menu li ul.hip-sub-menu.show{
    display:block;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity:1;
    height: auto;
}

/*menu items
*/
.hip-navigation-burger-menu ul.menu li a{
    display:flex;
    align-items:center;
    width:100%;
    justify-content:space-between;
    font-size:16px;
    line-height:27px;
    background:#fff;
    color:#000000;
}

/*highleghted
*/
.hip-navigation-burger-menu ul.menu li.menu-item-has-children > .hip-nav-item-container.highlighted .hip-submenu-indicator-wrap:before{
    content: "\f106";
}
/*Humburger icon*/
.hip-menu-toggler{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width:32px;
    height:28px;
}
.hip-nav-toggle-line{
    height: 5px;
    display:block;
    width:100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.hip-hamburger-toggle-v1 .hip-nav-toggle-line,
.hip-hamburger-toggle-v3 .hip-nav-toggle-line{
    max-width: 21px;
}
.hip-menu-toggler:before,.hip-menu-toggler:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: #000;
    transition: all .3s ease-in;
    border-radius: 5px;
}
.hip-menu-toggler:after {
    bottom: 0;
    top: auto;
}
/*cta button*/
.hip-menu-button-wrapper{
    display:flex;
}
.hip-menu-button-content-wrapper{
    display:flex;
    justify-content: center;
}
.hip-menu-button-wrapper .hip-cta-align-icon-right{
    margin-left: 5px;
    order: 15;
}
/*humburger active*/
.hip-menu-toggler.open_icon .hip-nav-toggle-line{
    opacity: 0;
}
.hip-menu-toggler.open_icon:before ,
.hip-menu-toggler.open_icon:after {
    top: 50%;
    margin-top: -2.5px;
}

.hip-menu-toggler.open_icon:before {
    transform: rotate(-45deg);
}

.hip-menu-toggler.open_icon:after {
    transform: rotate(45deg);
}
/*style three*/

.hip-hamburger-toggle-v3:after {
    width: 15px;
    right: 0;
    left: auto;
}

.hip-hamburger-toggle-v3.open_icon:after {
    width: 100%;
}
.hip-nav-humberger-wrapper{
    display: flex;
    justify-content: flex-end;
}
/*social icons css*/
.hip-nav-social-icons{
    display:flex;
    align-items:center;
    position: relative;
}
.hip-nav-social-icons li{
    display:flex;
}
.hip-nav-social-list-text{
    display:none;
}
.hip-nav-social-icons li:after {
    width: auto;
    left: auto;
    right: auto;
    position: relative;
    height: 100%;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left-width: 1px;
    border-style: solid;
    right: -8px;
}
/*media query */



@media(max-width: 767px){
    .hip-hamburger-toggle-v1 .hip-nav-toggle-line{
        max-width: 18px;
    }
    .hip-menu-toggler:before,.hip-menu-toggler:after{
        margin-top: -2px;
    }
}
